body {
  color: #272142;
  background: radial-gradient(
    circle at -8.9% 51.2%,
    rgb(230, 243, 232) 0%,
    rgb(230, 243, 232) 15.9%,
    rgb(230, 243, 232) 15.9%,
    rgb(77, 106, 97) 24.4%,
    rgb(19, 30, 37) 24.5%,
    rgb(19, 30, 37) 66%
  );
  min-height: 100vh;

  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  background: white;
  max-width: 600px;
  display: block;
  margin: 120px auto 0;
  padding: 30px;
  border-radius: 30px;
}
h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 10px;
}

header label {
  display: block;
  margin: 0 auto 5px;
  font-size: 18px;
  text-align: center;
}
header .cities-list {
  width: 95%;
  padding: 10px 15px;
  display: block;
  margin: 0 auto 10px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;

  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main .each-city-remove-button button {
  display: block;
  background-color: rgb(215, 237, 219);
  border: rgb(215, 237, 219);

  padding: 6px 32px;

  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  transition: all 200ms ease-in-out;
  text-align: center;
  margin: 10px auto;
  line-height: 1.5;

  margin-top: 16px;

  letter-spacing: 3px;
}

main .each-city-remove-button button:hover {
  background: rgb(77, 106, 97);
  border: 1px solid rgb(77, 106, 97);
  cursor: pointer;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .each-city {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px dashed #938fa1;
  padding: 20px 10px 10px 10px;
}
main .each-city:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}
main .each-city-central-box {
  flex: 2;
  text-align: center;
  padding: 0 15px 0 15px;
}

main .each-city-name {
  font-size: 38px;
}

main .each-city-date {
  color: #938fa1;
}

main .each-city-time {
  font-size: 38px;
  flex-wrap: wrap;
  text-align: right;
  padding: 0 15px;
}
footer {
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: 5px;
}
footer a {
  color: rgb(230, 243, 232);
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .each-city-name,
  .each-city-timezone,
  .each-city-date {
    text-align: center;
  }
}
